USE [QLKHO_NHOM9]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/13/2023 2:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chiTietNhaCungCaps]    Script Date: 6/13/2023 2:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chiTietNhaCungCaps](
	[MaSp] [int] NOT NULL,
	[MaNcc] [int] NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_chiTietNhaCungCaps] PRIMARY KEY CLUSTERED 
(
	[MaNcc] ASC,
	[MaSp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chiTietPhieuNhaps]    Script Date: 6/13/2023 2:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chiTietPhieuNhaps](
	[MaPN] [int] NOT NULL,
	[MaSp] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_chiTietPhieuNhaps] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaSp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chiTietPhieuXuats]    Script Date: 6/13/2023 2:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chiTietPhieuXuats](
	[MaPX] [int] NOT NULL,
	[MaSp] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_chiTietPhieuXuats] PRIMARY KEY CLUSTERED 
(
	[MaPX] ASC,
	[MaSp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donViTinhs]    Script Date: 6/13/2023 2:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donViTinhs](
	[MaDvt] [int] IDENTITY(1,1) NOT NULL,
	[TenDvt] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_donViTinhs] PRIMARY KEY CLUSTERED 
(
	[MaDvt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khachHangs]    Script Date: 6/13/2023 2:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachHangs](
	[MaKh] [int] IDENTITY(1,1) NOT NULL,
	[TenKh] [nvarchar](500) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_khachHangs] PRIMARY KEY CLUSTERED 
(
	[MaKh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhaCungCaps]    Script Date: 6/13/2023 2:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhaCungCaps](
	[MaNcc] [int] IDENTITY(1,1) NOT NULL,
	[TenNcc] [nvarchar](500) NOT NULL,
	[Email] [nvarchar](500) NOT NULL,
	[Sdt] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_nhaCungCaps] PRIMARY KEY CLUSTERED 
(
	[MaNcc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieuNhaps]    Script Date: 6/13/2023 2:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieuNhaps](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime2](7) NOT NULL,
	[TongSoLuong] [int] NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[MaNcc] [int] NULL,
	[UserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_phieuNhaps] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieuXuats]    Script Date: 6/13/2023 2:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieuXuats](
	[MaPX] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime2](7) NOT NULL,
	[TongSoLuong] [int] NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[UserId] [nvarchar](450) NULL,
	[MaKh] [int] NULL,
 CONSTRAINT [PK_phieuXuats] PRIMARY KEY CLUSTERED 
(
	[MaPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleClaims]    Script Date: 6/13/2023 2:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_RoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/13/2023 2:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanPhams]    Script Date: 6/13/2023 2:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanPhams](
	[MaSp] [int] IDENTITY(1,1) NOT NULL,
	[TenSp] [nvarchar](500) NOT NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[SoLuongCo] [int] NOT NULL,
	[Photo] [nvarchar](1000) NULL,
	[MaDvt] [int] NULL,
 CONSTRAINT [PK_sanPhams] PRIMARY KEY CLUSTERED 
(
	[MaSp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserClaims]    Script Date: 6/13/2023 2:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogins]    Script Date: 6/13/2023 2:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 6/13/2023 2:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/13/2023 2:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[PhotoAvatar] [nvarchar](1000) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 6/13/2023 2:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230516170327_Add1', N'5.0.17')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230516175827_Add2', N'5.0.17')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230516180444_Add3', N'5.0.17')
GO
INSERT [dbo].[chiTietNhaCungCaps] ([MaSp], [MaNcc], [GiaNhap]) VALUES (13, 6, CAST(390000.00 AS Decimal(18, 2)))
INSERT [dbo].[chiTietNhaCungCaps] ([MaSp], [MaNcc], [GiaNhap]) VALUES (15, 6, CAST(450000.00 AS Decimal(18, 2)))
INSERT [dbo].[chiTietNhaCungCaps] ([MaSp], [MaNcc], [GiaNhap]) VALUES (23, 6, CAST(220000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[chiTietPhieuNhaps] ([MaPN], [MaSp], [SoLuong], [DonGia]) VALUES (31, 18, 12, CAST(1690000.00 AS Decimal(18, 2)))
INSERT [dbo].[chiTietPhieuNhaps] ([MaPN], [MaSp], [SoLuong], [DonGia]) VALUES (34, 16, 10, CAST(365000.00 AS Decimal(18, 2)))
INSERT [dbo].[chiTietPhieuNhaps] ([MaPN], [MaSp], [SoLuong], [DonGia]) VALUES (34, 18, 10, CAST(1800000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[chiTietPhieuXuats] ([MaPX], [MaSp], [SoLuong], [DonGia]) VALUES (9, 13, 10, CAST(12000.00 AS Decimal(18, 2)))
INSERT [dbo].[chiTietPhieuXuats] ([MaPX], [MaSp], [SoLuong], [DonGia]) VALUES (9, 15, 10, CAST(18000.00 AS Decimal(18, 2)))
INSERT [dbo].[chiTietPhieuXuats] ([MaPX], [MaSp], [SoLuong], [DonGia]) VALUES (9, 23, 10, CAST(240000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[donViTinhs] ON 

INSERT [dbo].[donViTinhs] ([MaDvt], [TenDvt]) VALUES (1, N'Chai')
INSERT [dbo].[donViTinhs] ([MaDvt], [TenDvt]) VALUES (5, N'Lon')
INSERT [dbo].[donViTinhs] ([MaDvt], [TenDvt]) VALUES (6, N'Cái')
SET IDENTITY_INSERT [dbo].[donViTinhs] OFF
GO
SET IDENTITY_INSERT [dbo].[khachHangs] ON 

INSERT [dbo].[khachHangs] ([MaKh], [TenKh], [Email], [Phone]) VALUES (8, N'Công ty MinhTien SoftWare', N'mtien@gmail.com', N'0992789')
INSERT [dbo].[khachHangs] ([MaKh], [TenKh], [Email], [Phone]) VALUES (9, N'Công ty cổ phần Thành Food AIA', N'thanhfd@gmail.com', N'0992789999')
INSERT [dbo].[khachHangs] ([MaKh], [TenKh], [Email], [Phone]) VALUES (12, N'Công ty STech', N'STe@gmail.com', N'09927899995')
SET IDENTITY_INSERT [dbo].[khachHangs] OFF
GO
SET IDENTITY_INSERT [dbo].[nhaCungCaps] ON 

INSERT [dbo].[nhaCungCaps] ([MaNcc], [TenNcc], [Email], [Sdt]) VALUES (6, N'Công ty cổ phần ThaiBev', N'hu@gmail.com', N'0998899')
INSERT [dbo].[nhaCungCaps] ([MaNcc], [TenNcc], [Email], [Sdt]) VALUES (7, N'Công ty cổ phần NightHouse', N'nhouse@yahoo.com.ex', N'09983879')
INSERT [dbo].[nhaCungCaps] ([MaNcc], [TenNcc], [Email], [Sdt]) VALUES (8, N'Công ty cổ phần Bếp Xanh', N'bepxanh@gmail.com', N'0998877')
SET IDENTITY_INSERT [dbo].[nhaCungCaps] OFF
GO
SET IDENTITY_INSERT [dbo].[phieuNhaps] ON 

INSERT [dbo].[phieuNhaps] ([MaPN], [NgayLap], [TongSoLuong], [TongTien], [MaNcc], [UserId]) VALUES (31, CAST(N'2023-05-23T00:00:00.0000000' AS DateTime2), 12, CAST(20280000.00 AS Decimal(18, 2)), 8, N'154369ac-b958-4d14-99fa-d155ae727c61')
INSERT [dbo].[phieuNhaps] ([MaPN], [NgayLap], [TongSoLuong], [TongTien], [MaNcc], [UserId]) VALUES (34, CAST(N'2023-05-24T00:00:00.0000000' AS DateTime2), 20, CAST(21650000.00 AS Decimal(18, 2)), 7, N'154369ac-b958-4d14-99fa-d155ae727c61')
INSERT [dbo].[phieuNhaps] ([MaPN], [NgayLap], [TongSoLuong], [TongTien], [MaNcc], [UserId]) VALUES (35, CAST(N'2023-05-24T00:00:00.0000000' AS DateTime2), 29, CAST(33600000.00 AS Decimal(18, 2)), 8, N'154369ac-b958-4d14-99fa-d155ae727c61')
SET IDENTITY_INSERT [dbo].[phieuNhaps] OFF
GO
SET IDENTITY_INSERT [dbo].[phieuXuats] ON 

INSERT [dbo].[phieuXuats] ([MaPX], [NgayLap], [TongSoLuong], [TongTien], [UserId], [MaKh]) VALUES (9, CAST(N'2023-05-25T00:00:00.0000000' AS DateTime2), 41, CAST(5445000.00 AS Decimal(18, 2)), N'154369ac-b958-4d14-99fa-d155ae727c61', 8)
INSERT [dbo].[phieuXuats] ([MaPX], [NgayLap], [TongSoLuong], [TongTien], [UserId], [MaKh]) VALUES (10, CAST(N'2023-06-01T00:00:00.0000000' AS DateTime2), 4, CAST(570000.00 AS Decimal(18, 2)), N'154369ac-b958-4d14-99fa-d155ae727c61', 8)
INSERT [dbo].[phieuXuats] ([MaPX], [NgayLap], [TongSoLuong], [TongTien], [UserId], [MaKh]) VALUES (12, CAST(N'2023-06-01T00:00:00.0000000' AS DateTime2), 3, CAST(16500000.00 AS Decimal(18, 2)), N'154369ac-b958-4d14-99fa-d155ae727c61', 8)
SET IDENTITY_INSERT [dbo].[phieuXuats] OFF
GO
INSERT [dbo].[Roles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'311ba530-e645-4bcb-830c-c98fa5535d48', N'Admin', N'ADMIN', N'637dd4d0-025e-4b7c-8c14-6d652e75701a')
INSERT [dbo].[Roles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'c28a9398-3d34-4bd4-a645-e5a06114d3a5', N'NhanVien', N'NHANVIEN', N'2c1c29f3-4514-4538-8d26-19cbb07e8e5a')
GO
SET IDENTITY_INSERT [dbo].[sanPhams] ON 

INSERT [dbo].[sanPhams] ([MaSp], [TenSp], [GiaBan], [SoLuongCo], [Photo], [MaDvt]) VALUES (13, N'Pessi Nhật Bản 2023', CAST(470000.00 AS Decimal(18, 2)), 83, N'qojdamli.jpg', 8)
INSERT [dbo].[sanPhams] ([MaSp], [TenSp], [GiaBan], [SoLuongCo], [Photo], [MaDvt]) VALUES (15, N'CoCaCoLa Nhật', CAST(520000.00 AS Decimal(18, 2)), 175, N'fbgfei25.jpg', 8)
INSERT [dbo].[sanPhams] ([MaSp], [TenSp], [GiaBan], [SoLuongCo], [Photo], [MaDvt]) VALUES (16, N'Bếp từ Mini BeKo279', CAST(5500000.00 AS Decimal(18, 2)), 2, N'1vsqdmbh.jpg', 9)
SET IDENTITY_INSERT [dbo].[sanPhams] OFF
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'065e7ca6-27e4-4dad-9979-3036f57a9b73', N'311ba530-e645-4bcb-830c-c98fa5535d48')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'154369ac-b958-4d14-99fa-d155ae727c61', N'311ba530-e645-4bcb-830c-c98fa5535d48')
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'96edef16-a6a9-432b-846f-5449f95d952b', N'311ba530-e645-4bcb-830c-c98fa5535d48')
GO
ALTER TABLE [dbo].[khachHangs] ADD  DEFAULT (N'') FOR [TenKh]
GO
ALTER TABLE [dbo].[chiTietNhaCungCaps]  WITH CHECK ADD  CONSTRAINT [FK_chiTietNhaCungCaps_nhaCungCaps_MaNcc] FOREIGN KEY([MaNcc])
REFERENCES [dbo].[nhaCungCaps] ([MaNcc])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chiTietNhaCungCaps] CHECK CONSTRAINT [FK_chiTietNhaCungCaps_nhaCungCaps_MaNcc]
GO
ALTER TABLE [dbo].[chiTietNhaCungCaps]  WITH CHECK ADD  CONSTRAINT [FK_chiTietNhaCungCaps_sanPhams_MaSp] FOREIGN KEY([MaSp])
REFERENCES [dbo].[sanPhams] ([MaSp])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chiTietNhaCungCaps] CHECK CONSTRAINT [FK_chiTietNhaCungCaps_sanPhams_MaSp]
GO
ALTER TABLE [dbo].[chiTietPhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_chiTietPhieuNhaps_phieuNhaps_MaPN] FOREIGN KEY([MaPN])
REFERENCES [dbo].[phieuNhaps] ([MaPN])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chiTietPhieuNhaps] CHECK CONSTRAINT [FK_chiTietPhieuNhaps_phieuNhaps_MaPN]
GO
ALTER TABLE [dbo].[chiTietPhieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_chiTietPhieuNhaps_sanPhams_MaSp] FOREIGN KEY([MaSp])
REFERENCES [dbo].[sanPhams] ([MaSp])
GO
ALTER TABLE [dbo].[chiTietPhieuNhaps] CHECK CONSTRAINT [FK_chiTietPhieuNhaps_sanPhams_MaSp]
GO
ALTER TABLE [dbo].[chiTietPhieuXuats]  WITH CHECK ADD  CONSTRAINT [FK_chiTietPhieuXuats_phieuXuats_MaPX] FOREIGN KEY([MaPX])
REFERENCES [dbo].[phieuXuats] ([MaPX])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chiTietPhieuXuats] CHECK CONSTRAINT [FK_chiTietPhieuXuats_phieuXuats_MaPX]
GO
ALTER TABLE [dbo].[chiTietPhieuXuats]  WITH CHECK ADD  CONSTRAINT [FK_chiTietPhieuXuats_sanPhams_MaSp] FOREIGN KEY([MaSp])
REFERENCES [dbo].[sanPhams] ([MaSp])
GO
ALTER TABLE [dbo].[chiTietPhieuXuats] CHECK CONSTRAINT [FK_chiTietPhieuXuats_sanPhams_MaSp]
GO
ALTER TABLE [dbo].[phieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_phieuNhaps_nhaCungCaps_MaNcc] FOREIGN KEY([MaNcc])
REFERENCES [dbo].[nhaCungCaps] ([MaNcc])
GO
ALTER TABLE [dbo].[phieuNhaps] CHECK CONSTRAINT [FK_phieuNhaps_nhaCungCaps_MaNcc]
GO
ALTER TABLE [dbo].[phieuNhaps]  WITH CHECK ADD  CONSTRAINT [FK_phieuNhaps_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[phieuNhaps] CHECK CONSTRAINT [FK_phieuNhaps_Users_UserId]
GO
ALTER TABLE [dbo].[phieuXuats]  WITH CHECK ADD  CONSTRAINT [FK_phieuXuats_khachHangs_MaKh] FOREIGN KEY([MaKh])
REFERENCES [dbo].[khachHangs] ([MaKh])
GO
ALTER TABLE [dbo].[phieuXuats] CHECK CONSTRAINT [FK_phieuXuats_khachHangs_MaKh]
GO
ALTER TABLE [dbo].[phieuXuats]  WITH CHECK ADD  CONSTRAINT [FK_phieuXuats_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[phieuXuats] CHECK CONSTRAINT [FK_phieuXuats_Users_UserId]
GO
ALTER TABLE [dbo].[RoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_RoleClaims_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleClaims] CHECK CONSTRAINT [FK_RoleClaims_Roles_RoleId]
GO
ALTER TABLE [dbo].[sanPhams]  WITH CHECK ADD  CONSTRAINT [FK_sanPhams_donViTinhs_MaDvt] FOREIGN KEY([MaDvt])
REFERENCES [dbo].[donViTinhs] ([MaDvt])
GO
ALTER TABLE [dbo].[sanPhams] CHECK CONSTRAINT [FK_sanPhams_donViTinhs_MaDvt]
GO
ALTER TABLE [dbo].[UserClaims]  WITH CHECK ADD  CONSTRAINT [FK_UserClaims_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserClaims] CHECK CONSTRAINT [FK_UserClaims_Users_UserId]
GO
ALTER TABLE [dbo].[UserLogins]  WITH CHECK ADD  CONSTRAINT [FK_UserLogins_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLogins] CHECK CONSTRAINT [FK_UserLogins_Users_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[UserTokens]  WITH CHECK ADD  CONSTRAINT [FK_UserTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTokens] CHECK CONSTRAINT [FK_UserTokens_Users_UserId]
GO
